<a href="https://colab.research.google.com/github/MRifdaM/ML_S5_2025/blob/main/Week1/Persiapan_Jobsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Data Kelas TI-3G - Sheet1.csv to Data Kelas TI-3G - Sheet1.csv

In [ ]:


import os, re, math
import pandas as pd
import numpy as np

# --- Load dari upload ---
filename = list(uploaded.keys())[0]
df = pd.read_csv(filename)

# Helper cari kolom by alias (tahan variasi nama)
def find_col(df, aliases):
    cols = {c.strip().lower(): c for c in df.columns}
    for a in aliases:
        key = a.strip().lower()
        if key in cols:
            return cols[key]
    # fallback: buang spasi & tanda baca utk pencocokan longgar
    norm = {re.sub(r"[\s\W]+", "", c.lower()): c for c in df.columns}
    for a in aliases:
        a_norm = re.sub(r"[\s\W]+", "", a.lower())
        if a_norm in norm:
            return norm[a_norm]
    return None

# --- Fungsi pembersihan ---
def normalize_gender(val):
    if pd.isna(val): return np.nan
    s = str(val).strip().lower()
    s_norm = re.sub(r"[\s\.\-_]+", "", s)
    laki = {"l","lk","laki","lakilaki","pria","cowok","male","m"}
    perempuan = {"p","pr","perempuan","wanita","cewek","female","f"}
    if s_norm in laki or "laki" in s_norm: return "Laki - Laki"
    if s_norm in perempuan or "perempuan" in s_norm or "wanita" in s_norm: return "Perempuan"
    if "laki" in s: return "Laki - Laki"
    if "perempuan" in s or "wanita" in s: return "Perempuan"
    return None

def clean_kota(val):
    if pd.isna(val): return np.nan
    s = str(val).strip()
    s = re.sub(r"^\s*(kota\s+administrasi\s+|kota\s+adm\.\s+|kota\s+|kab(?:\.|upaten)\s+)", "", s, flags=re.IGNORECASE)
    s = s.strip(" .,/\\-")
    out = s.title()
    out = re.sub(r"\bDki\b", "DKI", out)
    out = re.sub(r"\bDiy\b", "DIY", out)
    return out

def to_float(val):
    if pd.isna(val): return np.nan
    s = str(val)
    m = re.search(r"[-+]?\d+(?:[.,]\d+)?", s)
    if not m: return np.nan
    num = m.group(0).replace(",", ".")
    try: return float(num)
    except: return np.nan

def clean_kelas(val):
    if pd.isna(val): return np.nan
    s = str(val).strip()
    s = re.sub(r"^(TI|MI|TRPL|SIB|IF|TK|TE|RPL|Teknik\s*Informatika|Manajemen\s*Informatika)\s*[-:]\s*", "", s, flags=re.IGNORECASE)
    if "-" in s: s = s.split("-")[-1]
    s = re.sub(r"^(TI|MI|TRPL|SIB|IF|TK|TE|RPL)\s*", "", s, flags=re.IGNORECASE)
    return s.strip()

# --- Temukan kolom target (pakai alias biar fleksibel) ---
col_gender     = find_col(df, ["Kelamin","Jenis Kelamin","Gender"])
col_kota       = find_col(df, ["Asal Kota","Kota Asal","Kota"])
col_berat      = find_col(df, ["Berat Badan","Berat (kg)","Berat"])
col_tinggi     = find_col(df, ["Tinggi Badan","Tinggi (cm)","Tinggi"])
col_kelas      = find_col(df, ["Asal Kelas (Kelas semester sebelumnya)","Asal Kelas","Kelas semester sebelumnya"])
col_target_ips = find_col(df, ["Target IPS (target realistis IPS semester ini)","Target IPS","IPS Target"])

# --- Terapkan pembersihan sesuai permintaan ---
if col_gender is not None:
    df[col_gender] = df[col_gender].map(normalize_gender)

if col_kota is not None:
    df[col_kota] = df[col_kota].map(clean_kota)

if col_berat is not None:
    df[col_berat] = df[col_berat].map(to_float)

if col_tinggi is not None:
    df[col_tinggi] = df[col_tinggi].map(to_float)

if col_kelas is not None:
    df[col_kelas] = df[col_kelas].map(clean_kelas)

if col_target_ips is not None:
    df[col_target_ips] = df[col_target_ips].map(to_float)

# --- Simpan hasil ---
clean_name = filename.rsplit(".", 1)[0] + "_cleaned.csv"
df.to_csv(clean_name, index=False)
print("Saved:", clean_name)

display(df.head(30))

Saved: Data Kelas TI-3G - Sheet1_cleaned.csv

,NAMA LENGKAP,JENIS KELAMIN,KOTA ASAL,TINGGI BADAN (CM),BERAT BADAN (KG),Asal Kelas (Kelas semester sebelumnya),Target IPS (target realistis IPS semester ini)
0,ADITYA ATADEWA,Laki - Laki,Blitar,168.7,58,2H,4.0
1,AFIFAH KHOIRUNNISA,Perempuan,Nganjuk,159.0,49,2F,4.0
2,AFRIZAL QURRATUL FAIZIN,Laki - Laki,Malang,165.0,65,2B,3.7
3,AHMAD NAUFAL ILHAM,Laki - Laki,Malang,179.0,107,2G,4.0
4,ANYA CALLISSTA CHRISWANTARI,Perempuan,Madiun,158.0,40,2A,3.9
5,ARIL IBBET ARDANA PUTRA,Laki - Laki,Banyuwangi,171.0,58,2F,3.5
6,ARYO ADI PUTRO,Laki - Laki,Jember,172.0,53,2B,4.0
7,CAKRA WANGSA MAY AHMAD W,Laki - Laki,Blitar,165.0,70,2F,4.0
8,CHIKO ABILLA BASYA,Laki - Laki,Mojokerto,170.0,50,2E,3.8
9,DAMAR GALIH FITRIANTO,Laki - Laki,Malang,170.0,65,2B,3.7
10,DIANA RAHMAWATI,Perempuan,Malang,158.0,49,2F,3.8
11,HAMDAN AZIZUL HAKIM,Laki - Laki,Malang,163.0,41,2G,3.5
12,HIDAYAT WIDI SAPUTRA,Laki - Laki,Malang,165.0,57,2A,4.0
13,KEVIN ADIKA SAPUTRA,Laki - Laki,Jombang,167.0,61,2H,3.8
14,MARSYA AURELIA SEFIRA,Perempuan,Malang,167.0,70,2H,4.0
15,MAULANA RENGGA RAMADAN,Laki - Laki,Sumenep,170.0,68,2H,4.0
16,MUHAMMAD ALIF FEBRIANSYAH,Laki - Laki,Pasuruan,157.0,52,2E,3.8
17,MUHAMMAD RIFDA MUSYAFFA',Laki - Laki,Mojokerto,170.0,80,2D,4.0
18,PETRUS TYANG AGUNG ROSARIO,Laki - Laki,Dampit,175.0,80,2D,3.7
19,RAFA FADIL ARAS,Perempuan,Malang,155.0,45,2E,4.0
20,RAKAI SETO SEMBODO,Laki - Laki,Jakarta,174.0,55,2E,3.9
21,RANGGA DWI SAPUTRA,Laki - Laki,Banyuwangi,169.0,59,2C,4.0
22,RAUDHIL FIRDAUS NAUFAL,Laki - Laki,Bogor,169.0,105,2B,3.9
23,SADIYA MARITZA,Perempuan,Blitar,150.0,53,2B,3.8
24,SAKA NABIL,Laki - Laki,Lombok Timur,170.0,52,2G,3.8
25,SIRFARATIH,Perempuan,Pasuruan,159.0,70,2E,3.9
26,TAUFIK DIMAS EDYSTARA,Laki - Laki,Blitar,170.0,52,2A,4.0
27,TIONUSA CATUR PAMUNGKAS,Laki - Laki,Sumenep,175.0,72,2F,3.8
28,VIDI JOSHUBZKY SAVIOLA,Laki - Laki,Batu,165.0,60,2F,4.0
29,RAHMAD DANAR,Laki - Laki,Blitar,180.0,70,2D,4.0

In [ ]:
# === NORMALISASI (Min-Max)  versi robust ===
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np
import re

def find_col(df, aliases):
    cols = {c.strip().lower(): c for c in df.columns}
    for a in aliases:
        key = a.strip().lower()
        if key in cols:
            return cols[key]
    norm = {re.sub(r"[\s\W]+", "", c.lower()): c for c in df.columns}
    for a in aliases:
        a_norm = re.sub(r"[\s\W]+", "", a.lower())
        if a_norm in norm:
            return norm[a_norm]
    return None

# Deteksi ulang kolom penting
col_berat = find_col(df, ["Berat Badan", "Berat (kg)", "Berat"])
col_tinggi = find_col(df, ["Tinggi Badan", "Tinggi (cm)", "Tinggi"])
col_target_ips = find_col(df, ["Target IPS (target realistis IPS semester ini)", "Target IPS", "IPS Target"])

# Kumpulkan kolom numerik yang akan di-scale
num_cols = [c for c in [col_berat, col_tinggi, col_target_ips] if c is not None and c in df.columns]

# Paksa numeric (kalau masih object) agar bisa di-scale
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors="coerce")

# Opsi: exclude target jika itu label
EXCLUDE_TARGET_AS_LABEL = False  # ubah ke True jika Target IPS adalah label
if EXCLUDE_TARGET_AS_LABEL and col_target_ips in num_cols:
    num_cols = [c for c in num_cols if c != col_target_ips]

# Fallback tambahan: gabungkan dengan semua kolom bertipe numerik (jika perlu)
all_numeric = df.select_dtypes(include=np.number).columns.tolist()
for c in all_numeric:
    if c not in num_cols:
        num_cols.append(c)

# Hindari kolom ID/indeks jika ada (opsional)
# num_cols = [c for c in num_cols if c.lower() not in {"id","index"}]

print("Kolom numerik yang akan di-Normalisasi:", num_cols)

scaler = MinMaxScaler()
df_norm = df.copy()
df_norm[num_cols] = scaler.fit_transform(df_norm[num_cols])

df_norm.to_csv("normalized_output.csv", index=False)
print("Saved: normalized_output.csv")

display(df_norm.head(30))

Kolom numerik yang akan di-Normalisasi: ['Target IPS (target realistis IPS semester ini)', 'TINGGI BADAN (CM)', 'BERAT BADAN (KG)']
Saved: normalized_output.csv

,NAMA LENGKAP,JENIS KELAMIN,KOTA ASAL,TINGGI BADAN (CM),BERAT BADAN (KG),Asal Kelas (Kelas semester sebelumnya),Target IPS (target realistis IPS semester ini)
0,ADITYA ATADEWA,Laki - Laki,Blitar,0.623333,0.268657,2H,1.0
1,AFIFAH KHOIRUNNISA,Perempuan,Nganjuk,0.300000,0.134328,2F,1.0
2,AFRIZAL QURRATUL FAIZIN,Laki - Laki,Malang,0.500000,0.373134,2B,0.4
3,AHMAD NAUFAL ILHAM,Laki - Laki,Malang,0.966667,1.000000,2G,1.0
4,ANYA CALLISSTA CHRISWANTARI,Perempuan,Madiun,0.266667,0.000000,2A,0.8
5,ARIL IBBET ARDANA PUTRA,Laki - Laki,Banyuwangi,0.700000,0.268657,2F,0.0
6,ARYO ADI PUTRO,Laki - Laki,Jember,0.733333,0.194030,2B,1.0
7,CAKRA WANGSA MAY AHMAD W,Laki - Laki,Blitar,0.500000,0.447761,2F,1.0
8,CHIKO ABILLA BASYA,Laki - Laki,Mojokerto,0.666667,0.149254,2E,0.6
9,DAMAR GALIH FITRIANTO,Laki - Laki,Malang,0.666667,0.373134,2B,0.4
10,DIANA RAHMAWATI,Perempuan,Malang,0.266667,0.134328,2F,0.6
11,HAMDAN AZIZUL HAKIM,Laki - Laki,Malang,0.433333,0.014925,2G,0.0
12,HIDAYAT WIDI SAPUTRA,Laki - Laki,Malang,0.500000,0.253731,2A,1.0
13,KEVIN ADIKA SAPUTRA,Laki - Laki,Jombang,0.566667,0.313433,2H,0.6
14,MARSYA AURELIA SEFIRA,Perempuan,Malang,0.566667,0.447761,2H,1.0
15,MAULANA RENGGA RAMADAN,Laki - Laki,Sumenep,0.666667,0.417910,2H,1.0
16,MUHAMMAD ALIF FEBRIANSYAH,Laki - Laki,Pasuruan,0.233333,0.179104,2E,0.6
17,MUHAMMAD RIFDA MUSYAFFA',Laki - Laki,Mojokerto,0.666667,0.597015,2D,1.0
18,PETRUS TYANG AGUNG ROSARIO,Laki - Laki,Dampit,0.833333,0.597015,2D,0.4
19,RAFA FADIL ARAS,Perempuan,Malang,0.166667,0.074627,2E,1.0
20,RAKAI SETO SEMBODO,Laki - Laki,Jakarta,0.800000,0.223881,2E,0.8
21,RANGGA DWI SAPUTRA,Laki - Laki,Banyuwangi,0.633333,0.283582,2C,1.0
22,RAUDHIL FIRDAUS NAUFAL,Laki - Laki,Bogor,0.633333,0.970149,2B,0.8
23,SADIYA MARITZA,Perempuan,Blitar,0.000000,0.194030,2B,0.6
24,SAKA NABIL,Laki - Laki,Lombok Timur,0.666667,0.179104,2G,0.6
25,SIRFARATIH,Perempuan,Pasuruan,0.300000,0.447761,2E,0.8
26,TAUFIK DIMAS EDYSTARA,Laki - Laki,Blitar,0.666667,0.179104,2A,1.0
27,TIONUSA CATUR PAMUNGKAS,Laki - Laki,Sumenep,0.833333,0.477612,2F,0.6
28,VIDI JOSHUBZKY SAVIOLA,Laki - Laki,Batu,0.500000,0.298507,2F,1.0
29,RAHMAD DANAR,Laki - Laki,Blitar,1.000000,0.447761,2D,1.0

In [ ]:
# === STANDARISASI (Z-score)  versi robust ===
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import re

def find_col(df, aliases):
    cols = {c.strip().lower(): c for c in df.columns}
    for a in aliases:
        key = a.strip().lower()
        if key in cols:
            return cols[key]
    norm = {re.sub(r"[\s\W]+", "", c.lower()): c for c in df.columns}
    for a in aliases:
        a_norm = re.sub(r"[\s\W]+", "", a.lower())
        if a_norm in norm:
            return norm[a_norm]
    return None

col_berat = find_col(df, ["Berat Badan", "Berat (kg)", "Berat"])
col_tinggi = find_col(df, ["Tinggi Badan", "Tinggi (cm)", "Tinggi"])
col_target_ips = find_col(df, ["Target IPS (target realistis IPS semester ini)", "Target IPS", "IPS Target"])

num_cols = [c for c in [col_berat, col_tinggi, col_target_ips] if c is not None and c in df.columns]

for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors="coerce")

EXCLUDE_TARGET_AS_LABEL = False  # ubah ke True jika Target IPS adalah label
if EXCLUDE_TARGET_AS_LABEL and col_target_ips in num_cols:
    num_cols = [c for c in num_cols if c != col_target_ips]

all_numeric = df.select_dtypes(include=np.number).columns.tolist()
for c in all_numeric:
    if c not in num_cols:
        num_cols.append(c)

print("Kolom numerik yang akan di-Standarisasi:", num_cols)

scaler = StandardScaler()
df_std = df.copy()
df_std[num_cols] = scaler.fit_transform(df_std[num_cols])

df_std.to_csv("standardized_output.csv", index=False)
print("Saved: standardized_output.csv")


display(df_std.head(30))

Kolom numerik yang akan di-Standarisasi: ['Target IPS (target realistis IPS semester ini)', 'TINGGI BADAN (CM)', 'BERAT BADAN (KG)']
Saved: standardized_output.csv

,NAMA LENGKAP,JENIS KELAMIN,KOTA ASAL,TINGGI BADAN (CM),BERAT BADAN (KG),Asal Kelas (Kelas semester sebelumnya),Target IPS (target realistis IPS semester ini)
0,ADITYA ATADEWA,Laki - Laki,Blitar,0.265118,-0.270943,2H,0.848615
1,AFIFAH KHOIRUNNISA,Perempuan,Nganjuk,-1.129988,-0.851536,2F,0.848615
2,AFRIZAL QURRATUL FAIZIN,Laki - Laki,Malang,-0.267036,0.180629,2B,-1.215584
3,AHMAD NAUFAL ILHAM,Laki - Laki,Malang,1.746520,2.890062,2G,0.848615
4,ANYA CALLISSTA CHRISWANTARI,Perempuan,Madiun,-1.273814,-1.432129,2A,0.160549
5,ARIL IBBET ARDANA PUTRA,Laki - Laki,Banyuwangi,0.595917,-0.270943,2F,-2.591716
6,ARYO ADI PUTRO,Laki - Laki,Jember,0.739742,-0.593495,2B,0.848615
7,CAKRA WANGSA MAY AHMAD W,Laki - Laki,Blitar,-0.267036,0.503180,2F,0.848615
8,CHIKO ABILLA BASYA,Laki - Laki,Mojokerto,0.452091,-0.787026,2E,-0.527517
9,DAMAR GALIH FITRIANTO,Laki - Laki,Malang,0.452091,0.180629,2B,-1.215584
10,DIANA RAHMAWATI,Perempuan,Malang,-1.273814,-0.851536,2F,-0.527517
11,HAMDAN AZIZUL HAKIM,Laki - Laki,Malang,-0.554687,-1.367619,2G,-2.591716
12,HIDAYAT WIDI SAPUTRA,Laki - Laki,Malang,-0.267036,-0.335454,2A,0.848615
13,KEVIN ADIKA SAPUTRA,Laki - Laki,Jombang,0.020615,-0.077412,2H,-0.527517
14,MARSYA AURELIA SEFIRA,Perempuan,Malang,0.020615,0.503180,2H,0.848615
15,MAULANA RENGGA RAMADAN,Laki - Laki,Sumenep,0.452091,0.374160,2H,0.848615
16,MUHAMMAD ALIF FEBRIANSYAH,Laki - Laki,Pasuruan,-1.417639,-0.658005,2E,-0.527517
17,MUHAMMAD RIFDA MUSYAFFA',Laki - Laki,Mojokerto,0.452091,1.148284,2D,0.848615
18,PETRUS TYANG AGUNG ROSARIO,Laki - Laki,Dampit,1.171218,1.148284,2D,-1.215584
19,RAFA FADIL ARAS,Perempuan,Malang,-1.705290,-1.109577,2E,0.848615
20,RAKAI SETO SEMBODO,Laki - Laki,Jakarta,1.027393,-0.464474,2E,0.160549
21,RANGGA DWI SAPUTRA,Laki - Laki,Banyuwangi,0.308266,-0.206433,2C,0.848615
22,RAUDHIL FIRDAUS NAUFAL,Laki - Laki,Bogor,0.308266,2.761041,2B,0.160549
23,SADIYA MARITZA,Perempuan,Blitar,-2.424417,-0.593495,2B,-0.527517
24,SAKA NABIL,Laki - Laki,Lombok Timur,0.452091,-0.658005,2G,-0.527517
25,SIRFARATIH,Perempuan,Pasuruan,-1.129988,0.503180,2E,0.160549
26,TAUFIK DIMAS EDYSTARA,Laki - Laki,Blitar,0.452091,-0.658005,2A,0.848615
27,TIONUSA CATUR PAMUNGKAS,Laki - Laki,Sumenep,1.171218,0.632201,2F,-0.527517
28,VIDI JOSHUBZKY SAVIOLA,Laki - Laki,Batu,-0.267036,-0.141923,2F,0.848615
29,RAHMAD DANAR,Laki - Laki,Blitar,1.890345,0.503180,2D,0.848615

In [ ]:
# === ENCODING (One-Hot) ===
import pandas as pd

# Tentukan kolom kategorikal yang perlu di-encode
cat_cols = []
for c in [col_gender, col_kota, col_kelas]:
    if c is not None and c in df.columns:
        cat_cols.append(c)

# One-Hot Encoding (menjaga semua kategori, handle_unknown implicit via get_dummies)
df_encoded = pd.get_dummies(
    df,
    columns=cat_cols,
    drop_first=False,   # set True jika ingin menghindari multikolinearitas
    dtype=int
)

print("One-Hot Encoding pada kolom:", cat_cols)
df_encoded.to_csv("encoded_output.csv", index=False)
print("Saved: encoded_output.csv")

display(df_encoded.head(30))

One-Hot Encoding pada kolom: ['JENIS KELAMIN', 'KOTA ASAL', 'Asal Kelas (Kelas semester sebelumnya)']
Saved: encoded_output.csv

,NAMA LENGKAP,TINGGI BADAN (CM),BERAT BADAN (KG),Target IPS (target realistis IPS semester ini),JENIS KELAMIN_Laki - Laki,JENIS KELAMIN_Perempuan,KOTA ASAL_Banyuwangi,KOTA ASAL_Batu,KOTA ASAL_Blitar,KOTA ASAL_Bogor,...,KOTA ASAL_Pasuruan,KOTA ASAL_Sumenep,Asal Kelas (Kelas semester sebelumnya)_2A,Asal Kelas (Kelas semester sebelumnya)_2B,Asal Kelas (Kelas semester sebelumnya)_2C,Asal Kelas (Kelas semester sebelumnya)_2D,Asal Kelas (Kelas semester sebelumnya)_2E,Asal Kelas (Kelas semester sebelumnya)_2F,Asal Kelas (Kelas semester sebelumnya)_2G,Asal Kelas (Kelas semester sebelumnya)_2H
0,ADITYA ATADEWA,168.7,58,4.0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,AFIFAH KHOIRUNNISA,159.0,49,4.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,AFRIZAL QURRATUL FAIZIN,165.0,65,3.7,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,AHMAD NAUFAL ILHAM,179.0,107,4.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,ANYA CALLISSTA CHRISWANTARI,158.0,40,3.9,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,ARIL IBBET ARDANA PUTRA,171.0,58,3.5,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,ARYO ADI PUTRO,172.0,53,4.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,CAKRA WANGSA MAY AHMAD W,165.0,70,4.0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
8,CHIKO ABILLA BASYA,170.0,50,3.8,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,DAMAR GALIH FITRIANTO,170.0,65,3.7,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,DIANA RAHMAWATI,158.0,49,3.8,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,HAMDAN AZIZUL HAKIM,163.0,41,3.5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,HIDAYAT WIDI SAPUTRA,165.0,57,4.0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,KEVIN ADIKA SAPUTRA,167.0,61,3.8,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,MARSYA AURELIA SEFIRA,167.0,70,4.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,MAULANA RENGGA RAMADAN,170.0,68,4.0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
16,MUHAMMAD ALIF FEBRIANSYAH,157.0,52,3.8,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
17,MUHAMMAD RIFDA MUSYAFFA',170.0,80,4.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,PETRUS TYANG AGUNG ROSARIO,175.0,80,3.7,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,RAFA FADIL ARAS,155.0,45,4.0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,RAKAI SETO SEMBODO,174.0,55,3.9,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
21,RANGGA DWI SAPUTRA,169.0,59,4.0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
22,RAUDHIL FIRDAUS NAUFAL,169.0,105,3.9,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
23,SADIYA MARITZA,150.0,53,3.8,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
24,SAKA NABIL,170.0,52,3.8,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,SIRFARATIH,159.0,70,3.9,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
26,TAUFIK DIMAS EDYSTARA,170.0,52,4.0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
27,TIONUSA CATUR PAMUNGKAS,175.0,72,3.8,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
28,VIDI JOSHUBZKY SAVIOLA,165.0,60,4.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
29,RAHMAD DANAR,180.0,70,4.0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0